  <div class="row">
    <div class="col s12 m6">
     <div class="card darken-1">
      <div class="card-content">
        <span class="card-title">Instructions</span>
        <p>מטרת המשחק היא לבחור את בע המילה ללא קשר למשמעותה</p>
        <p>יש לך 30 שניות לענות על השאלות. בחר את צסע הטקסט. תשובה לא נכונה תוריד לך נקודות, תשובה נכונה תוסיף לך נקודות</p>
        <p><b></b></p>
      </div>
      <div class="card-action">
        <a href="https://faculty.washington.edu/chudler/words.html">על המשחק</a>
      </div>
    </div>

  </div>
  <div class="col s12 m6"><div class="card">
    <div class="card-image">
      <img src="https://raw.githubusercontent.com/linghuaj/Angular-ColorGame/master/instructions.png">
      <!-- <span class="card-title">Example</span> -->
    </div>
    <div class="card-content">
    כאן, למרות שמשמעות המילה היא ירוק, צבע הטקסט הוא אדום. , מכאן שהתשובה הנכונה היא אדום
   </div>
 </div></div>
</div>
